body{
    background-color: beige;
}
#pridiction_div{
    border: 2px solid black;
}
#webcam_div{
    border: 2px solid black;
}
#pridiction_div:hover{
    transform: scale(1.5);
}
#preview_div{
    border: 2px solid black;
}